<main> 

    <div class="col-md-4">                                                                                          
      <label for="tipo" class="form-label">Tipo</label>
        <select class="form-select" name="tipo" required ngModel #priorityField="ngModel">
          <option value="education">education</option>
          <option value="recreational">recreational</option>
          <option value="social">social</option>
          <option value="diy">diy</option>
          <option value="charity">charity</option>
          <option value="cooking">cooking</option>
          <option value="relaxation">relaxation</option>
          <option value="music">music</option>
          <option value="busywork">busywork</option>
        </select>
      <p *ngIf="priorityField.touched && priorityField.invalid" class="text-danger"><small> Il campo è richiesto</small></p>
  </div>
  

</main>

<div class="button_flex">
  <button class="btn btn" routerLink="">Invia</button>
</div>
